.phonerwd2 {
  display: none;
}

@media screen and (max-height: 650px) {
  .logout {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .profileLeft {
    display: none;
  }
  .phonerwd1 {
    display: none;
  }
  .phonerwd2 {
    display: block;
  }
}

//adj home排版0220922
@media screen and (max-width: 430px) {
  .profilePage .profileRight {
    justify-content: center;
    .changeUser {
      width: 20%;
    }
  }
  .homeitem {
    justify-content: center;
  }
  .cart {
    z-index: 1;
  }
  .panel {
    z-index: 3;
  }
}
